
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/LoginTemplate/login.css" rel="stylesheet" />
    <script src="~/Content/LoginTemplate/login.js"></script>
    <style>
        #btnlogin{
            font-family:"Roboto",sans-serif;
            text-transform: uppercase;
            outline:0;
            background:#4CAF50;
            width:100%;
            border:0;
            padding:15px;
            color:aliceblue;
            font-size:14px;
            -webkit-transition:all 0.3 ease;
            transition: all 0.3 ease;
            cursor:pointer;
        }
        #btnlogin:hover,#btnlogin:active,#btnlogin:focus{
            background:#43A047;
        }
    </style>
</head>

<body>
    <div class="login-page">
        <div class="form">
            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                <input type="text" placeholder="Enter old Password" name="OldPassword" required />
                <input type="password" placeholder="Enter new Password" name="NewPassword" required />
                <input type="password" placeholder="Confirm Password" name="ConfirmPassword" required />
                @ViewBag.message
                <input type="submit" value="Change password" id="btnlogin" />
                }
        </div>
    </div>
</body>
</html>

